

#size-selector {
    width: 256px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: solid 5px #00ffff;
}

#grid-size {
    width: 100%;
}


#grid-container {
    width: 256px;
    height: 256px;
    border: solid 5px #ff0000;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.grid-item-s {
    width: 6px;
    height: 6px;
    border: solid 1px #666;
}


.grid-item-m {
    width: 14px;
    height: 14px;
    border: solid 1px #666;
}

.grid-item-l {
    width: 30px;
    height: 30px;
    border: solid 1px #666;
}

